:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: aliceblue;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

@media (prefers-color-scheme: dark) {
    :root[color-mode="user"] {
        --color-accent: #0097fc4f;
        --color-bg: #333;
        --color-bg-secondary: #555;
        --color-link: #0097fc;
        --color-secondary: #e20de9;
        --color-secondary-accent: #e20de94f;
        --color-shadow: #bbbbbb20;
        --color-table: #0097fc;
        --color-text: #f7f7f7;
        --color-text-secondary: #aaa;
    }
}


/* Layout */
article aside {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}



hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}

section {
    flex-wrap: wrap;
    justify-content: var(--justify-important);
}

section img,
article img {
    max-width: 100%;
}

section img,
article img {
    max-width: 100%;
}

section pre {
    overflow: auto;
}

section aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

[hidden] {
    display: none;
}

/* Headers */
article header,
div header,
main header {
    padding-top: 0;
}

header {
    text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


button:active,
input[type="submit"]:active {
    filter: brightness(var(--active-brightness));
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button,
input[type="submit"] {
    background-color: var(--color-link);
    border: 2px solid var(--color-link);
    color: var(--color-bg);
}

a em,
a i {
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius);
    color: var(--color-link);
    display: inline-block;
    padding: 1rem 2rem;
}

article aside a {
    color: var(--color-secondary);
}

/* Images */
figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%;
}

figure figcaption {
    color: var(--color-text-secondary);
}

/* Forms */
button:disabled,
input:disabled {
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
}

button[disabled]:hover,
input[type="submit"][disabled]:hover {
    filter: none;
}

form {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: var(--justify-normal);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}



.header {
    background-color: aliceblue;
    height: 30vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: -316px;
    width: 316px;
    height: 100%;
    background: skyblue;
    transition: all .5s ease;
    z-index: 1111;
}

.sidebar header {
    font-size: 28px;
    color: white;
    text-align: center;
    line-height: 80px;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 43px;
    font-size: 18px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    transition: .6;
    text-decoration: none;
}

.sidebar ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn {
    z-index: 1110;
    left: 50px;
    top: 30px;
    font-size: 35px;
    cursor: pointer;
    transition: all .4s;
}

label #cancel {
    z-index: 1112;
    left: -285px;
    font-size: 30px;
    top: 3px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}


#check:checked~label #btn {
    left: 25%;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 285px;
}

.searchbar {
    display: none;
}

@media screen and (min-width: 700px) {
    .searchbar {
        position: absolute;
        display: flex;
        z-index: 1110;
        left: 50px;
        top: 100px;
    }

    .search-icon {
        height: 35px;
        width: 265px;
        display: flex;
        background: blue;
        border-radius: 5px;
        z-index: 1110;
    }

    .search-icon input {
        height: 100%;
        width: 225px;
        ;
        border: none;
        outline: none;
        color: #000;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 5px 0 0 5px;
    }

    .search-icon .icon {
        height: 100%;
        width: 40px;
        line-height: 37px;
        text-align: center;
        background-color: blue;
        border-radius: 0 5px 5px 0;
        z-index: 1111;
        color: white;
        cursor: pointer;
    }
}

nav {
    position: relative;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


nav img {
    width: 150px;
    display: absolute;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -75px;
}


.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: skyblue;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

footer {
    color: white;
    background-color: blue;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}



.breadcrumbs {
    padding: 10px;
    box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.2);
    width: 90%;
    background: white;
    margin: auto;
}

.breadcrumbs ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    justify-content: space-evenly;
}

.breadcrumbs ul li a {
    text-decoration: none;
    color: #000;
}

.breadcrumbs ul li a:hover {
    color: skyblue;
}


main .buy {
    background: skyblue;
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 30px;
    flex: 1;
}

.btn, input[type="button"] {
    display: inline-block;
    height: 50px;
    width: 146px;
    padding: 0 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    text-decoration: none;
    white-space: nowrap;
    background-color: blue;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
} 

.btn button {
    text-decoration: none;
    border: none;
    background: none;
    font-weight: bold;
}

main .buy p{
    padding-top: 15vh;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-bottom: auto;
    
}

.btn:hover, input[type="button"]:hover   {
    background-color: #0097fc;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    flex: 2;

}

.slider {
    display: flex;
    aspect-ratio: 16 / 12;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.container{
    display: flex;
    margin-top: 20px;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    
}

.slider-nav a:hover{
    opacity: 1;
}

main p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: inherit;
}

main #pingu {
    width: 50%;
    display: flex;
    margin: auto;
}

h1{
    text-align: center;
}

main p{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
    
}

@media (max-width: 480px) {
    .header {
      height: 20vh;
    }
  
    .nav-links ul li {
      display: block;
      padding: 8px 12px;
    }
  
    .nav-links ul li a {
      font-size: 12px;
    }
  
    .container {
      flex-direction: column;
    }
  
    .slider-wrapper {
      max-width: 100%;
    }
  
    main p {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  

  @media (min-width: 481px) and (max-width: 768px) {
    .header {
      height: 25vh;
    }
  
    .nav-links ul li {
      padding: 6px 10px;
    }
  
    .nav-links ul li a {
      font-size: 12px;
    }
  
    .container {
      flex-direction: column;
    }
  
    .slider-wrapper {
      max-width: 100%;
    }
  
    main p {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  
  /* Large devices (desktops, 769px and up) */
  @media (min-width: 769px) {
    .header {
      height: 30vh;
    }
  
    .nav-links ul li {
      padding: 8px 12px;
    }
  
    .nav-links ul li a {
      font-size: 13px;
    }
  
    .container {
      flex-direction: row;
    }
  
    .slider-wrapper {
      max-width: 48rem;
    }
  
    main p {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

